* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    box-sizing: border-box;
  }

.navbar{
  border-bottom: solid rgb(224, 82, 136) ; 
  padding: 1rem;
  
}

nav{
    background-color: rgb(2, 65, 98);
   
   
}

.navbar-nav {
    float: left;
    margin: 0rem;
    padding-top: 0rem;
    left: 40%;
    position: relative;
}

.main-header{
    border-bottom: solid rgb(224, 82, 136) ;   
    background-size: cover;    
}

.background-overlay {
    background-color: seashell;
    min-height: 450px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1{
    color: rgb(2, 65, 98);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    color: white;
}

li{
    color: white;
    list-style: none;
}

li:hover{
    background-color: rgb(224, 82, 136);
    border-radius: 4px;
    transition: .3s;
}

p{
    color: black;
}

a{
    font-size: 25px;
}

.productos{
    color: rgb(2, 65, 98);

}

#nuestrosproductos{
    margin-top: 40px;
    margin-bottom: 40px;
}

.servicios{
    color: rgb(2, 65, 98);
    margin-top: 40px;
    margin-bottom: 40px;

}

.consulta{
    color: rgb(2, 65, 98);
    border-top: solid rgb(224, 82, 136);
}

.consulta .p{
   font-weight: 900;
}

#consulta{
    margin-top: 40px;
    margin-bottom: 40px;
    
}


#boton-productos{
    background-color: rgb(2, 65, 98);
    border-color: rgb(224, 82, 136)
}

#btn-editado{
    background-color: white;
    transition: .5s;
}

#btn-editado:hover{
    background-color: rgb(224, 82, 136);
}


/*FOOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(2, 65, 98);
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;

}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 300px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h3{
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}

.box__footer p{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 55px;
    color: #7a7a7a;
    
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
} 